{% if content is not defined %}
    {% set content = '' %}
{% endif %}

{% if dismissible is not defined %}
    {% set dismissible = false %}
{% endif %}

{% block utilities_alert %}
    <div role="alert"
         class="alert {% if type %}alert-{{ type }}{% endif %}{% if dismissible %} alert-dismissible fade show{% endif %}">
        {% block utilities_alert_content_container %}
            <div class="alert-content-container">
                {% block utilities_alert_content %}
                    <div class="alert-content">
                        {{ content }}
                    </div>
                {% endblock %}

                {% block utilities_alert_dismissible %}
                    {% if dismissible %}
                        <button type="button"
                                class="close"
                                data-bs-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
