{% block layout_main_navigation %}
    {% if navigationRoutes is not defined %}
        {% set navigationRoutes = [
            {
                label: 'app.calendar.title'|trans,
                route: 'app.calendar',
            },
            {
                acl: 'ROLE_ADMIN',
                label: 'app.calendar.eventTemplates.title'|trans,
                route: 'app.calendar.templates.index',
            },
            {
                acl: 'ROLE_USER',
                label: 'app.calendar.settings.title'|trans,
                children: [
                    {
                        label: 'app.calendar.features.title'|trans,
                        route: 'app.calendar.feature.index',
                    },
                    {
                        label: 'app.calendar.properties.title'|trans,
                        route: 'app.calendar.property.index',
                    },
                    {
                        label: 'app.calendar.targetGroups.title'|trans,
                        route: 'app.calendar.target-group.index',
                    },
                    {
                        label: 'app.calendar.locations.title'|trans,
                        route: 'app.calendar.location.index',
                    },
                ],
            },
        ] %}
    {% endif %}

    {% if navigationProfileRoutes is not defined %}
        {% set navigationProfileRoutes = {
            loggedIn: [
                {
                    label: 'app.account.my-profile.title'|trans,
                    route: 'app.logout',
                },
                {
                    label: 'app.general.logout'|trans,
                    route: 'app.logout',
                },
            ],
            loggedOut: [
                {
                    label: 'app.account.login.title'|trans,
                    route: 'app.login',
                },
            ],
        } %}
    {% endif %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
            {% block layout_main_navigation_inner %}
                <a class="navbar-brand" href="#">
                    {{ 'app.general.title'|trans }}
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for navigationRoute in navigationRoutes %}
                            {% include 'layout/navigation/navigation-item.html.twig' with navigationRoute %}
                        {% endfor %}
                    </ul>

                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_USER') %}
                            {% include 'layout/navigation/navigation-item.html.twig' with {
                                label: app.user.name,
                                children: navigationProfileRoutes.loggedIn,
                            } %}
                        {% else %}
                            {% for profileRoute in navigationProfileRoutes.loggedOut %}
                                {% include 'layout/navigation/navigation-item.html.twig' with profileRoute %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </div>
    </nav>
{% endblock %}
