{% extends 'base.html.twig' %}

{% set metaTitle = 'app.calendar.targetGroups.edit.title'|trans %}

{% block base_content %}
    <h1>{{ 'app.calendar.targetGroups.edit.title'|trans }}</h1>

    {{ form(editForm) }}
{% endblock %}
